.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.left-list {
    width: 45%;
    color:brown;
}

.right-list{
    width: 45%;
    color:brown;
}

